.mu{
    box-shadow: -6px 6px 6px -3px black;
    color: #000000;
}
.navbar{
    box-shadow: -6px 10px 60px 10px #1a416b;
    background-color:  #337dcc;

}
.nav-link{
    color:  black;
    font: menu;
    font-size: 220%;
    font-family: 'Cambria';
}
.navbar-brand{
    color:  #000000;
    font: menu;
    font-size: 300%;
    font-family: 'Cambria';
}
.navbarNavDropdown{
    background-color:  #ffffff;

}
.example-spacer {
    flex: 1 1 auto;
  }