<div class="slide">
    <p-card header={{Event.nombreEvento}} subheader={{Event.detalleEvento}} [style]="{width: '360px'}" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
            <p id="categoria" color=blue> {{Event.categoriaEvento}} </p>
            <img alt="Card" src="https://www.poli.edu.co/sites/default/files/logos/logo-poli-politecnico-grancolombiano2018.png" height="250" width="250" >
        </ng-template>
        <ng-template pTemplate="footer">
            <p-button class="boton" (click)="openUrl()" label="Ver detalles de el evento" ></p-button>
            <P>  </P>
            <p-button label="Estoy interesado"onclick="location.href='https://docs.google.com/forms/d/e/1FAIpQLSfyiV2IMgo4E0OV296H7hdzVuGGBfxBxGY1pA5UOHKkI86RdA/viewform'"></p-button>
   
        </ng-template>
    </p-card>
</div>

